.banda-roja-articulos{
    background-color: #bf162d; /* Establece el color de fondo a rojo */
    width: 100%; /* Hace que la banda ocupe todo el ancho disponible */
    height: auto; /* Define la altura de la banda, puedes ajustarla según tus necesidades */
    margin-top: 107px; /*Coloca la banda en la posicion vertical que quieras */
    left: 0; /* Asegura que la banda comience desde el borde izquierdo */
    padding: 5px;
  }

  .texto-banda-articulo1{
    text-align: center;
    color: #fff;
    margin: 30px !important;
    font-size: 30px;
  }

  .texto-banda-articulo2{
    text-align: center;
    color: #fff;
    margin: 30px !important;
    font-size: 50px;
  }

  .texto-articulos{
    margin-left: 250px !important;
    margin-right: 250px !important;
    margin-top: 30px !important;
    font-size: 20px;
    text-align: justify;
  }

  .espaciado{
    height: 40px;
  }


  @media (max-width: 480px), (max-width: 820px), (max-width: 912px), (max-width: 1024px) {

 .banda-roja-articulos {
    background-color: #bf162d; /* Establece el color de fondo a rojo */
    width: 100%; /* Hace que la banda ocupe todo el ancho disponible */
    height: auto; /* Define la altura de la banda, puedes ajustarla según tus necesidades */
    margin-top: 102px; /*Coloca la banda en la posicion vertical que quieras */
    left: 0; /* Asegura que la banda comience desde el borde izquierdo */
    padding: 5px;

  }

  .texto-banda-articulo1{
    text-align: center;
    color: #fff;
    margin: 30px !important;
    font-size: 25px;
  }

  .texto-banda-articulo2{
    text-align: center;
    color: #fff;
    margin: 30px !important;
    font-size: 30px;
  }

  .texto-articulos{
    margin: 40px !important;
    text-align: justify;
    font-size: 17px;
  }

}